@use './src/styles' as *;

.hero-img {
  @include respond(tab-big) {
    display: none;
  }
  svg {
    overflow: visible;
    width: 100%;
  }
}

#flower-1,
#flower-2,
#btn-1,
#btn-2,
#btn-3 {
  fill: var(--text);
}

#frame {
  path {
    fill: var(--text);
  }
}
