@use './src/styles' as *;

.footer {
  background: $black;
  border-top: 1px solid $very-dark-grey; // TODO
  padding: $base-gap-size * 2 0;

  @include font-styling(var(--caption), 300, var(--text-secondary));

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__links {
    display: flex;
    gap: $base-gap-size * 2;
  }

  :deep(svg) {
    width: 1.6rem ;
    height: 1.6rem;

    path {
      fill: $dark-grey;
      transition: fill 0.3s;
    }

    &:hover path {
      fill: $bright-grey;
    }
  }
}
