@use './src/styles' as *;

@mixin hamburger-bars {
  width: 100%;
  height: 0.3rem;
  position: absolute;
  background-color: var(--text);
  border-radius: 1rem;
}

.hamburger {
  display: none;
  padding: 1rem;
  cursor: pointer;
  position: relative;
  z-index: 10;
  opacity: 0;
  animation: show-short 0.4s 0.4s forwards;

  @include respond(tab-small) {
    display: inline-block;
  }

  &__box {
    width: 3.5rem;
    height: 2rem;
    display: inline-block;
    position: relative;
  }

  &__bar {
    @include hamburger-bars;

    top: 50%;
    transform: translateY(-50%);
    transition: background-color 0.3s 0.1s ease-in-out;

    &::before,
    &::after {
      @include hamburger-bars;

      content: '';
      left: 0;
      transition: transform 0.3s ease-in-out;
    }

    &::before {
      top: -0.8rem;
    }

    &::after {
      top: 0.8rem;
    }

    &--active {
      background-color: transparent;
      transition: background-color 0.1s ease-in-out;

      &::before {
        transform: translatey(0.8rem) rotate(45deg);
      }
      &::after {
        transform: translatey(-0.8rem) rotate(-45deg);
      }
    }
  }
}
