@use "./src/styles" as *;

.theme-switch {
  position: fixed;
  bottom: $base-gap-size * 3;
  right: $base-gap-size * 3;
  width: 3.2rem;
  height: 3.2rem;
  background: $white;
  border-radius: 50%;
  box-shadow: 0 1px 6px rgb(0 0 0 / 10%);
  display: grid;
  place-content: center;
  cursor: pointer;

  &__tip {
    position: absolute;
    right: 100%;
    top: 50%;
    transform: translate(-$base-gap-size, -50%);
    white-space: nowrap;

    @include font-styling(var(--caption)); }
}
