@use 'mixins' as *;

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');

$font-family-primary: 'Rubik', sans-serif;

:root {
  --base-font-size: 1.5rem;
  --caption: 1.2rem;
  --heading-primary: calc(var(--base-font-size) * 3.6); // 54px
  --heading-secondary: calc(var(--base-font-size) * 2); // 30px
  --heading-tertiary: calc(var(--base-font-size) * 1.3); // 19.5px
}

@include respond(desktop-small) {
  :root {
    --heading-primary: calc(var(--base-font-size) * 3.2); // 48px
    --heading-secondary: calc(var(--base-font-size) * 1.8); // 27px
    --heading-tertiary: calc(var(--base-font-size) * 1.15); // 17.25px
  }
}

/* ----------- Laptop ----------- */
// prettier-ignore
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 1) {
  :root {
    --heading-primary: calc(var(--base-font-size) * 3); // 45px
    --heading-secondary: calc(var(--base-font-size) * 1.8); // 27px
    --heading-tertiary: calc(var(--base-font-size) * 1.15); // 17.25px
  }
}

@include respond(tab-big) {
  :root {
    --heading-primary: calc(var(--base-font-size) * 2.65); // 39.75px
    //--heading-secondary: calc(var(--base-font-size) * 1.8); // 27px
    //--heading-tertiary: calc(var(--base-font-size) * 1.15); // 17.25px
  }
}

@include respond(mobile) {
  :root {
    --heading-primary: calc(var(--base-font-size) * 2); // 30px
    --heading-secondary: calc(var(--base-font-size) * 1.625); // 26px
    --heading-tertiary: calc(var(--base-font-size) * 1.1); // 17px
  }
}


@mixin font-styling(
  $size: var(--base-font-size),
  $weight: 300,
  $color: var(--text),
  $family: $font-family-primary
) {
  color: $color;
  font: {
    size: $size;
    weight: $weight;
    family: $family;
  }
}
