$base-gap-size: 0.8rem;

$gap-size-main-desktop: $base-gap-size * 12; // 96px
$gap-size-secondary-desktop: $base-gap-size * 10;  // 80px

$gap-size-main-tablet: 15rem;
$gap-size-secondary-tablet: 6rem;

$gap-size-main-mobile: 10rem;
$gap-size-secondary-mobile: 5rem;
