$base-gap-size: 0.8rem;

$gap-size-main-desktop: $base-gap-size * 12; // 96px
$gap-size-secondary-desktop: $base-gap-size * 10;  // 80px

$gap-size-main-tablet: $base-gap-size * 10; // 80px
$gap-size-secondary-tablet: $base-gap-size * 8; // 64px

$gap-size-main-mobile: $base-gap-size * 9; // 72px
$gap-size-secondary-mobile: $base-gap-size * 7; // 56px
