@use 'index' as *;
@use 'animations' as *;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background: var(--background);
}

body {
  overflow-x: hidden;
}

ul {
  list-style: none;
}

.container {
  width: 100%;
  max-width: 144rem;
  margin: 0 auto;

  @include respond(desktop-big) {
    padding: 0 10rem;
  }

  @include respond(tab-big) {
    padding: 0 5rem;
  }

  @include respond(mobile) {
    padding: 0 3rem;
  }
}

section {
  padding: ($gap-size-main-desktop) 0;

  //@include respond(tab-small) {
  //  padding: ($gap-size-main-desktop / 2.5) 0;
  //}
}

.hide {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  overflow: hidden;
}
