@use 'index' as *;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background: var(--background);
}

ul {
  list-style: none;
}

.container {
  width: 100%;
  max-width: 144rem;
  margin: 0 auto;

  @include respond(desktop-big) {
    padding: 0 10rem;
  }

  @include respond(tab-big) {
    padding: 0 5rem;
  }

  @include respond(mobile) {
    padding: 0 3rem;
  }
}

.test {
  margin-top: 1rem;
  background-color: var(--background);
  color: var(--text);
  padding: 10px;
}
