@use "./src/styles" as *;

.service-card {
  max-width: 280px;
  flex: 1;

  &__heading {
    @include font-styling(var(--heading-tertiary), 500);

    margin: {
      top: 1.2rem;
      bottom: $base-gap-size;
    }
  }

  &__description {
    @include font-styling(var(--base-font-size), 300, var(--text-secondary));

    @include respond(tab-small) {
      max-width: 30rem;
    }
  }

  :deep(svg) {
    path {
      fill: var(--text);
    }
  }
}
