@use './src/styles' as *;

.heading {
  text-align: center;
  margin-bottom: $gap-size-secondary-desktop;

  @include font-styling(var(--heading-secondary), 500);

  @include respond(tab-big) {
    margin-bottom: $gap-size-secondary-tablet;
  }

  &__transitions {
    transition: opacity 1s, transform 1s;
  }
}
