@use './src/styles' as *;

.landing-page {
  height: 100vh;
  display: flex;

  @include respond(tab-small) {
    height: auto;
  }

  @media screen
  and (orientation: landscape)
  and (min-device-width: 370px)
  and (max-device-width: 850px) {
    height: auto;
  }

  .container {
    display: flex;
    flex-direction: column;
  }

  &__wrapper {
    flex: 1;
    display: grid;
    grid: {
      row-gap: 5%;
      column-gap: 5rem;
      template-columns: 1fr 1fr;
      template-rows: 60% 35%;
    }
    align-items: center;

    /* ----------- Laptop ----------- */
    @media screen
    and (min-device-width: 1200px)
    and (max-device-width: 1600px)
    and (-webkit-min-device-pixel-ratio: 1) {
      grid-template-rows: 62% 33%;
    }

    @include respond(tab-big) {
      grid-template-columns: 1fr;
      grid-column-gap: 0;
      justify-items: center;
    }

    @include respond(tab-small) {
      grid-template-rows: 1fr 1fr;
      grid-row-gap: 1rem;
    }

    @media screen
    and (orientation: landscape)
    and (min-device-width: 370px)
    and (max-device-width: 850px) {
      grid-row-gap: $gap-size-secondary-mobile;
      margin-top: $gap-size-secondary-mobile;
    }
  }

  &__content {
    @include respond(tab-big) {
      text-align: center;
    }
  }

  &__hello,
  &__heading,
  &__subheading,
  &__button {
    opacity: 0;
    animation: show-short 0.5s forwards;
  }

  &__heading {
    @include font-styling(var(--heading-primary), 500);
    animation-delay: 0.75s;

    span {
      color: transparent;
      display: inline-block;
      background-image: linear-gradient(to right, #06bfff 50%, #2b74ff 100%);
      -webkit-background-clip: text;
    }

    @include respond(tab-big) {
      max-width: 50rem;
      margin: 0 auto;
    }
  }

  &__subheading {
    animation-delay: 1s;
    margin: $base-gap-size * 2 0;

    @include respond(tab-big) {
      max-width: 50rem;
    }

    @include font-styling(var(--heading-tertiary), 300, var(--text-secondary));
  }

  &__hello {
    margin-bottom: $base-gap-size * 2;
    animation-delay: 0.5s;

    @include font-styling(var(--base-font-size), 300, var(--text-secondary));
  }

  &__button {
    animation-delay: 1.25s;
    padding: 1.2rem $base-gap-size * 3;
    text-decoration: none;
    border: none {
      radius: 0.4rem;
    }
    background: linear-gradient(to right, #06bfff 50%, #2b74ff 100%) right 0 / 200%;
    transition: background-position 300ms ease-in;
    cursor: pointer;

    &:hover {
      background-position: left 0;
    }

    @include font-styling(var(--base-font-size), 500, $white);
  }
}

@keyframes show-short {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

