@use './src/styles' as *;

.services {
  text-align: center;
  grid-column: 1/3;
  align-self: start;
  padding: 0;

  .container {
    padding: 0 10rem;
    margin-top: $base-gap-size;

    @include respond(desktop-small) {
      padding: 0 2.5rem;
    }

    @include respond(tab-big) {
      padding: 0;
      margin-top: 2.5rem;
    }

    @include respond(mobile) {
      margin-top: 0;
    }
  }

  &__cards {
    display: flex;
    justify-content: space-between;
    gap: $base-gap-size * 5;

    @include respond(tab-small) {
      flex-direction: column;
      gap: $base-gap-size * 4;
    }
  }
}
