@use './src/styles' as *;

.dark .showcase__media {
  box-shadow: none;
}

.showcase {
  padding: var(--spacing) 0;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    background-color: #e6e6e6;
    height: 0.1rem;
    width: 100%;
    left: 0;
    bottom: 0;

    opacity: 0;
    animation: show-long 1s forwards;
  }

  .heading {
    text-align: left;
    margin-bottom: var(--spacing);
  }

  text-align: center;

  &__media {
    border-radius: 2rem;
    transition: all 1s;
    box-shadow: rgba(149, 157, 165, 0.5) 0 8px 24px;
    overflow: hidden;

    position: relative;
    padding-bottom: 56.25%;
    height: 0px;

    @include respond(tab-small) {
      box-shadow: rgba(149, 157, 165, 0.65) 0 8px 25px;
    }

    iframe {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
    }
  }

  &__ctas {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }

  &__btn {
    margin-top: var(--case-study-grid-gap);
    display: block;
    border: 1px solid red;
    text-decoration: none;
    padding: 1.2rem $base-gap-size * 3;

    //opacity: 0;
    transition: all 0.3s;
    animation: show-long 1s forwards;

    border: 1px solid var(--text) {
      radius: 0.4rem;
    }

    @include font-styling(var(--base-font-size), 500);

    &:hover {
      background: var(--text);
      color: var(--background)
    }
  }
}

@keyframes show-short {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
