@use './src/styles' as *;

.project-card {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  background: $white;

  &__header {
    display: grid;
    place-content: center;
    padding: $base-gap-size 0;
    border-radius: 4px 4px 0 0;
  }

  &__content {
    border-radius: 0 0 4px 4px;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: $base-gap-size * 2;
    padding: $base-gap-size * 2;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  &__footer {
    margin-top: auto;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
  }

  &__label {
    @include font-styling(var(--caption), 400, $dark-grey);
  }

  &__name {
    @include font-styling(var(--heading-tertiary), 500, $black);
  }

  &__caption {
    @include font-styling(var(--base-font-size), 300, $dark-grey);
  }

  &__tools {
    display: flex;
    gap: $base-gap-size;
    margin-top: 2px;
  }

  &__cta {
    @include font-styling(var(--caption), 400, $black);

    a {
      display: flex;
      align-items: center;
      gap: $base-gap-size;
      text-decoration: none;

      @include font-styling(var(--caption), 400);
      color: inherit;

      :deep(svg) {
        path {
          fill: $black;
        }
      }
    }
  }
}
