@use "./src/styles" as *;

.header {
  padding: $base-gap-size * 2 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logo a,
  &__link {
    text-decoration: none;
  }

  &__logo a {
    position: relative;
    z-index: 10;

    @include font-styling(var(--heading-tertiary), 500);
  }

  &__list {
    display: flex;
    gap: $base-gap-size * 2;

    li:first-child {
      .router-link-active {
        font-weight: 400;
      }
    }

    &--desktop {
      @include respond(tab-small) {
        display: none;
      }
    }

    &--mobile {
      display: none;
      position: absolute;
      z-index: 10;
      left: 100%;
      top: 0;
      height: calc(var(--vh, 1vh) * 100);
      width: 100%;
      background: var(--background);
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transition: all 1s;

      @include respond(tab-small) {
        display: flex;
      }

      li:last-child {
        display: flex;
        gap: $base-gap-size * 2;

        svg {
          width: 3rem;
          height: 3rem;
        }

        svg path {
          fill: var(--text);
        }
      }
    }
  }

  &__link {
    transition: color 0.3s;
    cursor: pointer;

    @include font-styling(var(--base-font-size), 300, var(--text-secondary));

    &:hover {
      color: var(--text);
    }
  }
}

.active {
  transform: translateX(-100%);
}

button {
  position: relative;
  z-index: 100;
}
